// global elements
.btn-badge {
    padding: 5px 13px;
    right: 25px;
    top: 20px;
    box-shadow: 0 0 5px 0 #686868;
    background-color: $main-white;
    &:hover {
        background-color: $main-black;
        color: $main-white;
    }
}

.banner-project {
    .banner-img {
        background-image: url(../images/projects-banner.jpg);
    }
}

.our-works {
    .project-card {
        text-align: center;
        width: 23rem;
        .project-img {
            position: relative;
            a.btn {
                position: absolute;
            }
            img {
            width: 100%;
            }
        }
        .card-body {
            .project-name {
                font-size: 1.5rem;
                margin-bottom: 0.75rem;
            }
        }
    }
}

.project-details {
    .modal {
        .modal-dialog {
            .modal-content {
                .modal-footer {
                    button {
                        background-color: $main-blue;
                    }
                }
            }
        }
    }
}

// gallery style
.btn, button {
    &:focus,
    &:hover {
        outline: none !important;
        box-shadow: none !important;
    }
}

#image-gallery {
    .modal-footer{
        display: block;
    }
}

.thumb{
    margin-top: 15px;
    margin-bottom: 15px;
    .thumbnail {
        .img-thumbnail {
            background-color: $main-black;
            transition: all 0.2s ease;
            padding: 0.2rem;
            &:hover {
                background-color: $main-blue;

            }
        }
    }
}