@import "_variables";
@import "_style-project";
@import "_style-about";
@import "_style-contact";
@import "_style-blog";

@font-face {
    font-family: "cairo-regular";
    src: url(../fonts/Cairo-Regular.ttf);
}

/* global custom Elements */
.navbar-toggler {
    box-shadow: 0 0 2px 0 #ffffff;
    padding: 0.3rem 0.75rem;
    border-radius: 1px;
    &:focus {
        outline: none !important;
    }
}
.custom-btn {
    padding: 10px 20px;
    color: $main-black !important;
    background-color: $main-white;
    font-weight: bold !important;
    transition: all .5s ease;
    &:hover {
        background-color: $main-black;
        color: $main-white !important;
    }
}

.custom-btn2 {
    padding: 11px 14px !important;
    background-color: $main-blue !important;
    color:$main-white;
    transition: all .5s ease;
    &:hover {
        color: #ffffff;
        background-color: $main-blue-hover !important;
    }
}

.btn-lg {
    padding: 18px 40px !important;
}

.custom-blog-btn {
    padding: 7px 50px !important;
}

.paragraph-two-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.form-control {
    &:focus {
        border: 1px solid $main-blue !important;
        box-shadow: none !important;
    }
}

// main Elements 
body {
    font-family: "cairo-regular", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container-fluid {
    overflow: hidden;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

// Section Elements
.top-menu {
    .custom-bgcolor2 {
        background-color: $main-black;
    }
    .custom-bgcolor {
        background: rgba(66, 71, 76, 0.2);
    }
    .navbar {
        padding: 0 110px !important;
        position: absolute;
        z-index: 20;
        left: 0;
        .navbar-toggler i {
            color: #ffffff;
            &:active:focus {
                border: none;
            }
        }
        .navbar-brand img {
            width: 75px;
            height: 75px;
        }
        .navbar-nav {
            li > a {
                color: #ffffff;
                border-bottom: 1px solid transparent;
                transition: all .3s ease;

                &:hover {
                    border-bottom: 1px solid $main-white;
                }
            }
            li.active > a {
                border-bottom: 1px solid $main-white;
            }
        }
    }
}

.carousel-top {
    #carousel-top {
        .carousel-inner {
            h2 {
                margin-bottom: 50px;
                color: #ffffff;
                font-weight: bold;
                margin-bottom: 30px;
            }
            h4 {
                width: 60%;
                color: #ffffff;
                font-size: 130%;
                line-height: 30px;
            }
            .carousel-item {
                background-size: cover;
                img {
                    height: 500px;
                    width: 100%;
                }
                .carousel-caption {
                    bottom: 75px !important;
                }
            }
        }
        .carousel-indicators {
            bottom: 10px;
            li {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: transparent;
                border: 2px solid $main-white;
                opacity: 1;
            }
            li.active {
                background-color: $main-white;
            }
        }
    }
}

 .about-us {
     .custom-paragraph {
         line-height: 2rem;
     }
 }

.last-project {
    background-color: $main-white;
    #carousel-last-project {
        z-index: 10;
        right: -150px;
        top: 50px;
        .carousel-inner {
            .carousel-item {
                .card {
                    border: none;
                    cursor: pointer;
                    border-radius: none !important;
                    border-bottom: 10px solid $main-black;
                    .card-body {
                        border-radius: none !important;
                        min-height: 0;
                        padding: 0;
                        height: 0;
                        opacity: 0;
                        transition: all .5s ease;
                    }
                    &:hover .card-body {
                        display: block;
                        height: 190px;
                        min-height: 1px;
                        padding: 1.25rem;
                        opacity: 1;
                    }
                }
            }
        }
        .carousel-btn {
            position: absolute;
            top: 80px;
            right: -150px;
            a {
                position: static;
                border: 2px solid #686868;
                width: 50px;
                height: 50px;
                margin: 15px;
                border-radius: 50%;
            }
        }
    }
    .solid-side {
        background-color: $main-black;
        width: 100%;
        height: 400px;
    }
}

.clients {
    h2 {
        color: $main-white;
    }
    background-color: $main-blue;
}

.last-posts {
    .card {
        border-radius: 0.25rem;
        box-shadow: 0 0 1px 0 #686868;
        img {
            border-end-end-radius: 90px;
            border-end-start-radius: 90px;
        }
        .card-body {
            a.btn {
                margin-top: -65px;
                box-shadow: 0 0 3px 0 $main-black;
            }
            .card-title {
                font-weight: bold;
                font-size: 18px;
            }
            .card-text {
                font-size: 14px;
            }
        }
    }
}

footer {
    background-color: $main-black;
    .footer-nav {
        .footer-logo {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                width: 50px;
                height: 3px;
                background-color: $main-white;
                bottom: -7px;
                right: 50%;
                transform: translateX(50%);
            }
            img {
                width: 75px;
                height: 75px;
            }
        }
        .menu-list {
            margin-top: 30px;
            li > a {
                color: $main-white;
                text-decoration: none;
                font-size: 90%;
                margin: 0 7px;
                &:hover {
                    color: $main-blue;
                }
            }
        }
    }
    .container {
        width: 60%;
    }
    .border-between > div+div {
        border-top: 3px solid $main-white;
        margin: 1.5rem auto;
    }
    .footer-sub {
        label {
            margin: 15px 0 20px;
            color: $main-white;
            font-size: 110%;
        }
        .input-group {
            width: 45%;
            margin: 0 auto;
            .custom-input {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                text-align: right;
                background-color: darken($main-black, 15%);
                border: none;
                padding: 1.5rem 1rem !important;
            }
            .custom-btn-sub {
                border-radius: 0;
            }
        }
    }
    .footer-end {
        .clearfix {
            margin-top: 10px;
            padding: 0 10px;
            .copyright {
                color: $main-white;
            }
            .social-media {
                li > a {
                    background-color: $main-white;
                    color: $main-black;
                    display: inline-block;
                    width: 22px;
                    height: 22px;
                    line-height: 22px;
                    text-align: center;
                    transform: rotate(45deg);
                    margin: 2px;
                    transition: all .5s ease;
                    &:hover {
                        background-color: $main-blue;
                    }
                    i {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}

// global banner
.banner {
    .banner-img {
        height: 250px;
        margin-top: 75px;
        background-position: top;
        .overlay {
            position: absolute;
            background-color: rgba(85, 141, 217, 0.6);
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;
            padding-top: 60px;
            display: flex !important;
            align-items: center;
            justify-content: center;
            h1 {
                font-weight: bold;
                color: $main-white;
            }
        }
    }
}

/****************************
******************
    MEDIA QUERY
*********
**************************/

@media (max-width: 991px) {
    // global custom Elements
    .custom-blog-btn {
        padding: 2px 30px !important;
        margin-top: -45px !important;
        margin-bottom: 20px !important;
    }
    .top-menu {
        .navbar {
            padding: 0 15px !important;
            .navbar-nav {
                li > a {
                    padding-right: 7px;
                }
            }
        }
    }
    .carousel-top {
        .carousel-inner {
            .carousel-item {
                img {
                    width: auto !important;
                }
            .carousel-caption {
                    text-align: center !important;
                    h2 {
                        font-size: 25px;
                    }
                    h4 {
                        width: 100% !important;
                    }
                }
            }
        }
    }
    .last-project {
        #carousel-last-project {
            width: 750px;
            right: -190px;
            .carousel-btn {
                right: -90px;
            }
        }
    }
    .last-posts {
        .card {
            .card-body {
                padding: 1rem !important;
                .card-title {
                    font-size: 15px;
                }
                .card-text {
                    font-size: 12px;
                }
            }
        }
    }
    footer {
        .container {
            width: 100%;
        }
    }
}

@media (max-width: 767px) {
    // global custom Elements
    .custom-blog-btn {
        padding: 10px 70px !important;
    }
    .last-project {
        #carousel-last-project {
            max-width: 100%;
            right: 0;
            padding-left: 15px;
            padding-right: 15px;
            .carousel-inner {
                .carousel-item {
                    .card {
                        .card-body {
                            display: block;
                            height: 190px;
                            min-height: 1px;
                            padding: 1.25rem;
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .solid-side {
            height: 150px;
            padding-top: 70px;
            .carousel-btn {
                display: flex;
                justify-content: space-around;
                align-items: center;
                a {
                    position: static;
                    border-radius: 50%;
                    border: 1px solid #686868;
                    width: 50px;
                    height: 50px;
                    top: 35%;
                }
            }
        }
    }
    footer {
        .footer-sub {
            .input-group {
                width: 80% !important;
            }
        }
    }
}

@media (max-width: 575px) {
    .carousel-top {
        .carousel-indicators {
            bottom: -20px;
        }
        .carousel-btn a {
            display: none;
        }
    }
    .last-project {
        #carousel-last-project {
            top: 20px;
            padding-left: 30px;
            padding-right: 30px;
        }
        .solid-side {
            height: 100px;
            padding-top: 30px;
        }
    }
    footer {
        .footer-nav {
            .menu-list {
                li > a {
                    margin: 0 3px;
                    font-size: 85%;
                }
            }
        }
    }
}